/* Basic editor styles */
.style {
    > * + * {
      margin-top: 0.75em;
    }
  
    ul{
        list-style-type: disc;
        margin: 1.5rem;
    }
    ol {
        list-style-type: decimal;
        margin: 1.5rem;
    }
  
    h1{
        font-size: 2.5rem;
        font-weight: bold;
    }
    h2{
        font-size: 2rem;
        font-weight: bold;
    }
    h3{
        font-size: 1.5rem;
        font-weight: bold;
    }
   
  
    code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
    }
  
    pre {
      background: #0D0D0D;
      color: #FFF;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
  
      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    blockquote {
        padding-left: 1rem; /* Adds padding on the left side */
        border-left: 2px solid rgb(162, 162, 162); /* Sets a solid border on the left side with a slightly transparent gray color */
        background-color: rgb(239, 237, 237);
    }
  
    hr {
        border: none;
        border-top: 2px solid rgb(162, 162, 162); /* Adjusted to use rgba format */
        margin: 2rem 0;
    }
  }

.ProseMirror:focus {
    outline: none;
}